@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 100%;
  font-family: "Lato", Arial, sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(0, 191, 225, 0.05),
      rgba(0, 191, 255, 0.5)
    )
    fixed;
  color: black;
}

.container {
  width: 90%;
  position: relative;
}

.proj-header {
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center;
  background: transparent;
}

.proj-header h1 {
  margin: 0;
  font-weight: 400;
  font-size: 2.5em;
  position: relative;
  vertical-align: middle;
}

.proj-header h1 span {
  display: block;
  padding: 0 0 0.6em 0.1em;
  font-size: 0.6em;
  color: #aaa;
}

.proj-header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.proj-top {
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2;
  z-index: 10;
  padding-top: 3px;
  color: #aaa;
}

.proj-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px;
}

.proj-top span.right {
  float: right;
}

.proj-top span.right a {
  display: block;
  float: left;
}

.container {
  display: block;
  width: 90%;
}

.inline-img {
  float: left;
  width: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* margin: 100px 50px 300px 10px; */
}

main {
  clear: left;
}

section {
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
}

section h2 {
  font-weight: 300;
  font-size: 2em;
  padding-bottom: 0.5em;
  margin: 0;
}

.proj-form {
  font-weight: 300;
  font-size: 1.15em;
  vertical-align: center;
}

.proj-form div.form-div {
  width: 100%;
  display: inline-block;
}

.proj-form div.input-div {
  width: 70%;
  height: 2.5em;
  display: inline-flex;
  justify-content: space-between;
}

.proj-form input {
  margin: 0;
  border: 1px solid #aaa;
  padding: 0.6em;
  margin-right: 1%;
  width: 100%;
}

.table-section {
  overflow-x:auto;
}

table {
  width: 100%;
  margin-bottom: 1em;
  table-layout: auto;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  font-weight: 350;
  font-size: 1.15em;
  padding: 0.3em;
  margin: 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.3);
}

th {
  font-weight: 400;
  text-transform: uppercase;
  background-color: #2c3e50;
  color: white;
}

th.th-remover {
  word-wrap: break-word;
  width: 3rem;
}

tr:hover {
  background-color: rgba(250, 250, 250, 0.8);
}

.bto {
  font-weight: 350;
  font-size: 1.15em;
  margin-left: 1em;
  padding-bottom: 0.1em;
  border: 0;
  color: white;
  background-color: #2c3e50;
  min-height: 2.1em;
  max-width: 10em;
  vertical-align: center;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
}

.bto:hover {
  opacity: 0.6;
}

.bto:focus {
  outline: none;
}

.bto-small {
  height: 2.1em;
}

.bto-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.fadeIn {
  opacity: initial;
  transition: 0.3s;
}

.fadeOut {
  opacity: 0;
  transition: 0.3s;
}

.normal-alerta,
.normal-alerta:hover {
  background-color: rgba(250, 250, 250, 0.8);
  transition: background-color 0.3s ease;
}

.alerta-normal,
.alerta-normal:hover {
  background-color: none;
  transition: background-color 0.3s ease;
}

.erro-jogador,
.erro-jogador:hover {
  background-color: LightSalmon;
  transition: background-color 0.3s ease;
}

ul {
  list-style-type: none;
}

.erro,
.alerta {
  color: red;
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 0.5em;
  margin: 0;
  text-transform: uppercase;
}

.alerta {
  color: orangered;
}

.time0,
.time0:hover {
  background-color: NavajoWhite;
  transition: background-color 0.3s ease;
}

.time1,
.time1:hover {
  background-color: PaleTurquoise;
  transition: background-color 0.3s ease;
}

/* ============================================ */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 100;
  /* makes sure it stays on top */
  opacity: 0.2;
}

#status {
  width: 50px;
  height: 30px;
  position: fixed;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  margin: -25px 0 0 -15px;
  /* is width and height divided by two */
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
