* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: linear-gradient(#fefefe, rgba(113, 200, 235, 0.7));
}

header {
  background-color: Gray;
  height: 3em;
  color: #FFF;
  margin-bottom: 1em;
}

header h1 {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logor6 {
  width: 200px;
  margin: 60px 40px 0 40px;
}

.titulo-principal {
  display: block;
  color: #000000;
  font-weight: bold;
  text-align: center;
  background: rgba(113, 200, 235, 0.7);
}

.titulo {
  font-weight: bold;
}

.container {
  display: block;
  width: 940px;
  height: 100%;
  margin: 0 0 0 300px;
}

section {
  margin: 2em 0;
  overflow: hidden;
}

section h2 {
  font-size: 2em;
  display: block;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  padding-top: .5em;
  /* border-top: 1px solid #ccc;
  margin-top: .5em; */
}

table {
  width: 100%;
  margin-bottom: .5em;
  table-layout: fixed;
}

td, th {
  padding: .7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

tr {
  font-weight: bold;
}

tr:hover {
  background-color: AliceBlue;
}

th {
  font-weight: bold;
  background-color: SkyBlue;
}

label {
  color: #555;
  display: block;
  margin-bottom: .2em;
}

.campo {
  margin: 0;
  padding-bottom: 1em;
  border: 1px solid #ccc;
  padding: .7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: .5em;
}

.grupo {
  width: 25%;
  display: inline-block;
  padding: 10px 0px;
}

.botao {
  padding: .4em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  background-color: #0c8cd3;
  border-color: #04324c;
  width: 25%;
  display: inline-block;
  clear: both;
  margin: 10px 10px;
}

.bto-grupo {
  text-align: center;
}

.botao:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.2s;
  background: #02a3fa;
  color: #fff;
}

.botao:active {
  margin: 10px 0px;
  border-color: #04324c00;
}

.botao[disabled=disabled], button:disabled {
  background-color: gray;
  border-color: darkgray;
}

.fadeOut {
  opacity: 0;
  transition: 0.3s;
}

.normal-alerta, .normal-alerta:hover {
  background-color: NavajoWhite;
  transition: background-color 0.3s ease;
}

.alerta-normal, .alerta-normal:hover {
  background-color: none;
  transition: background-color 0.3s ease;
}

.erro-jogador, .erro-jogador:hover {
  background-color: LightSalmon;
  transition: background-color 0.3s ease;
}

#erros-form, #erros-busca, #erros-gerador {
  color: red;
  padding-bottom: 1em;
}

.time0, .time0:hover {
  background-color: NavajoWhite;
  transition: background-color 0.3s ease;
}

.time1, .time1:hover {
  background-color: PaleTurquoise;
  transition: background-color 0.3s ease;
}
